*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #111;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

button {
  font-family: inherit;
}
